@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/confirm.css" />
}
<h1>Спасибо за заказ!</h1>
<p>Наш оператор скоро свяжется с Вами</p>
<a href="@Url.Action("Index","Home")">Вернутся на главную страницу</a>