@model IEnumerable<MarioAuth.Models.ShoppingCart>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/order.css" />
}
<h1 class="title">Оформление заказа</h1>

<form class="order-form" action="@Url.Action("Create", "Order")" method="post">
    <input type="tel" placeholder="Введите номер" id="tel" name="tel" class="tel" />
    <select name="delivery" id="delivery" onchange="deliveryAdress()">
        <option value="">--Выберите способ доставки--</option>
        <option value="shop">Самовывоз (ул. Тараса Шевченко 49)</option>
        <option value="home">Доставка</option>
    </select>
    <textarea placeholder="Комментарий к заказу" name="comment" id="comment"></textarea>
    <input class="orderBtn" type="submit" />
</form>
<!--<form class="order-form">
    <input type="tel" placeholder="Введите номер" id="tel" class="tel" />
    <select name="delivery" id="delivery" onchange="deliveryAdress()">
        <option value="">--Выберите способ доставки--</option>
        <option value="shop">Самовывоз (ул. Тараса Шевченко 49)</option>
        <option value="home">Доставка</option>
    </select>
    <textarea placeholder="Комментарий к заказу" name="comment" id="comment"></textarea>
    <input class="orderBtn" type="submit" />
</form>
-->
<script type="text/javascript" src="~/js/makeOrder.js" charset="utf-8"></script>