@{
    ViewData["Title"] = "About";
    <link rel="stylesheet" href="~/css/about.css" />
}
<div class="aboutPage">
    <div class="intro">
            <div class="divPhoto">
                <img class="mainPhoto" src="~/img/about/mainAbout.png">
            </div>
    </div>
    <div class="circle-first">
        <div class="circleTXT">
            <h1>НАША ИСТОРИЯ</h1>
            <p>
                Студия-кондитерская Mari’O была основана в 2019 году Панкеевой Мариной.
                С самого начала концепция “Mari’O” направлена на создание десертов из 100%
                качественных и свежих ингредиентов с минимумом сахара, а также на постоянное
                обновление вкусов, которые способны удивлять каждый день.
            </p>
        </div>
        <img class="sign" src="~/img/about/sign.png">
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="about-info">
                <div class="section">
                    <img src="~/img/about/aboutPhoto.png">
                    <div class="mainINFO">
                        <h1>О НАС</h1>
                        <p>Кондитерская студия Mari'O - первая студия, в которой вы встретитесь с настоящим волшебством кулинарного искусства!  У нас можно наблюдать не только пирожные и торты, но целую Философию вкусной жизни.</p>
                    </div>
                </div>

                <div class="section">
                    <div class="masterclassINFO">
                        <h1>МАСТЕР-КЛАССЫ</h1>
                        <p>Студия-кондитерская Mari’O была основана в 2019 году Панкеевой Мариной. С самого начала концепция “Mari’O” направлена на создание десертов из 100% качественных и свежих </p>
                    </div>
                    <img src="~/img/about/masterPhoto.png">
                </div>

                <div class="section">
                    <img class="ownerPhoto" src="~/img/about/ownerPhoto.png">
                    <div class="ownerINFO">
                        <h1>ОСНОВАТЕЛЬ</h1>
                        <p>Меня зовут Марина Панкеева. Я прошла более 20 различных курсов от лучших европейских шефов и владельцев крупных кондитерских производств</p>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>