body {
}

.homePage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.divPhoto {
    width: 100%
}

.homeLine {
    background-color: #91BCBF;
    width: 100%;
}
/*
.benefitsCollection {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 30%;
}
.benefit {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}
    .benefit img {
        height: 35px;
        object-fit:contain;
    }
    .benefit p {
        color: white;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        margin: 0;
    }
    */

.circle-first {
    position: absolute;
    box-shadow: 0px 0px 70px grey;
    background: #E2EEEE;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.circleTXT {
    width: 50%;
    max-height: 70%;
}

    .circleTXT p {
        text-align: left;
        font-size: 18px;
        line-height: 32px;
    }

.sign {
    height: 15%;
}

.categories {
    display: grid;
    margin: auto;
    justify-content: center;
}

.itemCategory {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .itemCategory img {
        height: 80%;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

.itemName {
    height: 20%;
    background-color: #91BCBF;
    color: white;
    border-radius: 0 0 12px 12px;
    font-family: 'Poiret One';
    text-align: center;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    justify-content: space-evenly;
}

#address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .itemName {
        font-size: 30px;
    }

    .categories {
        grid-template-columns: 300px 300px 300px;
        column-gap: 15px;
        row-gap: 15px;
        grid-auto-rows: 300px;
    }

    .divPhoto {
        height: 350px;
    }

    .homeLine {
        height: 80px;
    }

    .circle-first {
        top: 50px;
        width: 450px;
        height: 450px;
        right: -80px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
    .itemName {
        font-size: 25px;
    }

    .categories {
        grid-template-columns: 250px 250px 250px;
        column-gap: 10px;
        row-gap: 10px;
        grid-auto-rows: 250px;
    }

    .divPhoto {
        height: 300px;
    }

    .homeLine {
        height: 70px;
    }

    .circle-first {
        top: 40px;
        width: 380px;
        height: 380px;
        right: -70px;
    }

    .circleTXT p {
        line-height: 20px;
        font-size: 17px;
    }
}


@media screen and (min-width: 600px) and (max-width: 820px) {
    .itemName {
        font-size: 20px;
    }

    .categories {
        grid-template-columns: 190px 190px 190px;
        column-gap: 8px;
        row-gap: 8px;
        grid-auto-rows: 190px;
    }

    .divPhoto {
        height: 250px;
    }

    .homeLine {
        height: 60px;
    }

    .circle-first {
        top: 35px;
        width: 350px;
        height: 350px;
        right: -70px;
    }

    .circleTXT p {
        line-height: 17px;
        font-size: 15px;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .itemName {
        font-size: 14px;
    }

    .categories {
        grid-template-columns: 150px 150px 150px;
        column-gap: 8px;
        row-gap: 8px;
        grid-auto-rows: 150px;
    }

    .divPhoto {
        height: 200px;
    }

    .homeLine {
        height: 50px;
    }

    .circle-first {
        top: 25px;
        width: 300px;
        height: 300px;
        right: -5px;
    }

    .circleTXT p {
        line-height: 15px;
        font-size: 13px;
    }
}

@media screen and (max-width: 300px) {
    .itemName {
        font-size: 10px;
    }

    .categories {
        grid-template-columns: 100px 100px 100px;
        column-gap: 4px;
        row-gap: 4px;
        grid-auto-rows: 100px;
    }

    .divPhoto {
        height: 180px;
    }

    .homeLine {
        height: 30px;
    }

    .circle-first {
        top: 25px;
        width: 250px;
        height: 250px;
        right: 5px;
    }

    .circleTXT p {
        line-height: 13px;
        font-size: 10px;
    }
}
