.formContainer, .thanksContainer {
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

#inputOrder {
    margin-bottom: 10px;
    width: 100%
}

    #inputOrder > * {
        width: 100%;
        border-radius: 5px;
        border: 1.5px solid #91BCBF;
    }

.error {
    border: 2px solid #ff0000; 
    background-color: #ffe6e6; 
}

.orderBtn {
    color: white;
    background-color: #91BCBF;
    margin: auto;
    width: 40%;
}
