/*.productShop{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}*/
.backBtn {
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
    cursor:pointer;
}
.backBtn img{
    height:30px;
}

.productShop {
    display: grid;
    justify-content: center;
    margin: auto;
}
.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.productPhoto {
    border-radius: 20px;
    object-fit: cover;
}
.productInfo p {
    margin-bottom: 0;
}

.containerPhoto {
    position: relative;
    text-align: center;
    color: white;
}
.description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
#cartBtn {
    border-radius: 20px;
    color: white;
    border: 0;
}
.addToCart {
    background-color: #91BCBF;
}

.cartItemBtn {
    background-color: #388B70;
    padding: 1px;
}

@media screen and (min-width: 1000px) {
    .productPhoto {
        width: 250px;
        height: 250px;
    }
    .productInfo p {
        font-size: 20px;
    }
    .productShop {
        grid-template-columns: 300px 300px 300px;
        column-gap: 15px;
        row-gap: 15px;
        grid-auto-rows: 370px;
    }
    .productInfo{
        height:70px;
    }
    #cartBtn {
        padding: 5px 20px;
        font-size: 16px
    }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
    .productPhoto {
        width: 200px;
        height: 200px;
    }

    .productInfo p {
        font-size: 18px;
    }
    .productShop {
        grid-template-columns: 250px 250px 250px;
        column-gap: 13px;
        row-gap: 13px;
        grid-auto-rows: 290px;
    }
    .productInfo{
        height:40px;
    }
    #cartBtn {
        padding: 4px 15px;
        font-size: 14px;
    }
}


@media screen and (min-width: 600px) and (max-width: 820px) {
    .productPhoto {
        width: 150px;
        height: 150px;
    }

    .productInfo p {
        font-size: 16px;
    }
    .productShop {
        grid-template-columns: 200px 200px 200px;
        column-gap: 10px;
        row-gap: 10px;
        grid-auto-rows: 230px;
    }
    .productInfo {
        height:30px;
    }
    #cartBtn {
        padding: 3px 10px;
        font-size: 12px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .description {
        display: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .productPhoto {
        width: 100px;
        height: 100px;
    }

    .productInfo p {
        font-size: 12px;
    }

    .productShop {
        grid-template-columns: 120px 120px 120px;
        column-gap: 8px;
        row-gap: 8px;
        grid-auto-rows: 170px;
    }

    .productInfo {
        height: 30px;
    }

    #cartBtn {
        padding: 2px 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .productPhoto {
        width: 50px;
        height: 50px;
    }

    .productInfo p {
        font-size: 8px;
    }
    .productShop {
        grid-template-columns: 100px 100px 100px;
        column-gap: 4px;
        row-gap: 4px;
        grid-auto-rows: 100px;
    }
    #cartBtn {
        font-size: 10px;
        font-size: 8px;
    }
    .productInfo {
    }
}