html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 96px;
    line-height: 1.6;
    background-color: #ECF1F2;
}

.headerImg {
    height: 100%;
    margin: auto;
    text-decoration: none;
}

    .headerImg img {
        height: 30px;
    }

.container {
    max-width: 100%;
    padding: 0;
}

.mb-3 {
    margin-bottom: 0 !important;
}

p {
    color: #7B7B7B;
    font-family: 'Gothic A1';
}

h1 {
    color: #104241;
    font-family: 'Poiret One';
}

header {
    background-color: #ffffff;
    text-align: center;
}

.logo {
    height: 60px;
}

.login {
    height: 40px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    font-family: 'Poiret One';
    color: #104241;
}
@media screen and (min-width: 800px) {
    .nav-link {
        font-size: 20px;
    }
}

@media screen and (min-width:700px) (max-width: 800px) {
    .nav-link {
        font-size: 18px;
    }
}

@media screen and (min-width:576px) (max-width: 700px) {
    .nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .nav-link {
        font-size: 20px;
    }
}

#text-replacement {
    display: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 576px) {
    #responsiveImage {
        display: none;
    }

    #text-replacement {
        display: block;
    }
}

.intro {
    overflow-x: hidden;
    width: 100%;
}

#mainDiv {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.divPhoto {
    width: 100%
}

.mainPhoto {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #pageSection {
        margin-top: 80px;
    }
}

@media screen and (min-width: 300px) and (max-width:800px) {
    #pageSection {
        margin-top: 70px;
    }
}

@media screen and (max-width: 300px) {
    #pageSection {
        margin-top: 30px;
    }
}


.title {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .title {
        font-size: 56px;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {
    .title {
        font-size: 48px;
    }
}
@media screen and (min-width: 400px) and (max-width:600px) {
    .title {
        font-size: 45px;
    }
}
@media screen and (min-width: 300px) and (max-width:400px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 20px;
    }
}

.footer {
    background-color: white;
}

#footer-content {
    display: inline-flex;
    justify-content: space-between;
}

.left-footer {
    margin-left: 5%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.right-footer {
    color: #104241;
    font-family: 'Gothic A1';
    font-size: 18px;
    margin-right: 5px;
}

.socialmedia {
    margin: auto;
    height: 35px;
    vertical-align: bottom;
}

@media screen and (max-width: 600px) and (min-width:400px) {
    .right-footer {
        font-size: 14px;
    }

    .socialmedia {
        height: 27px;
    }
}

@media screen and (max-width: 400px) {
    .right-footer {
        font-size: 10px;
    }

    .socialmedia {
        padding: 2px;
        height: 20px;
    }
}

.formAuth {
    margin: auto;
}

.btn-formAuth {
    background-color: #91BCBF;
}
