@model IEnumerable<MarioAuth.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/product.css" />
}

<h1 class="tittle">@ViewData["catalogName"]</h1>
<div class="productShop">
@foreach (var item in Model) {
    <div class="productItem">
            
        <div class="containerPhoto">
            <img class="productPhoto" src="data:image/png; base64,@Convert.ToBase64String(item.Image)" />
            <p class="description"> @Html.DisplayFor(modelItem => item.Description)</p>
        </div>
                <div class="productInfo">
            <p> @Html.DisplayFor(modelItem => item.Name)</p>
            <p>Цена: @Html.DisplayFor(modelItem => item.Price) ₽</p>
        </div>
    </div>
}
</div>

